.vs
Cake1/bin
Cake1/obj
Cake2/bin
Cake2/obj
Cake3/bin
Cake3/obj
Cake4/bin
Cake4/obj
Cake5/bin
Cake5/obj
Cake6/bin
Cake6/obj
Cake7/bin
Cake7/obj
Cake8/bin
Cake8/obj
Cake9/bin
Cake9/obj
Cake10/bin
Cake10/obj
Cake11/bin
Cake11/obj
Cake12/bin
Cake12/obj
